/* Body Background Styling */
body {
    background-color: #000000;
    background-repeat: inherit;
}

/* Layout and Layout Styling */
#main,
.main-bg-color {
    background-color: rgba(255, 255, 255, 1);
}

#main.header-slider-active>.container,
#main.footer-slider-active>.container {
    margin-top: 0px;
}

/*.ozy-header-slider{ margin-top:80px; }*/
#footer .container>div,
#footer .container,
#footer {
    height: 56px;
    min-height: 56px;
}

#footer,
#footer>footer .container {
    line-height: 56px;
}

#footer .top-social-icons>a>span {
    line-height: 56px;
}

@-moz-document url-prefix() {
    #footer .top-social-icons>a>span {
        line-height: 56px;
    }
}

#footer-wrapper {
    background: rgba(23, 27, 38, 1) url(https://www.alistairgroup.com/wp-content/uploads/2014/11/footer3.jpg) repeat center center;
}

#footer *,
#footer-widget-bar * {
    color: #ffffff !important;
}

#footer a:hover,
#footer-widget-bar a:hover {
    color: #f9a71a !important;
}

#footer,
#footer-widget-bar,
#footer .top-social-icons>a {
    border-color: #2f323c
}

#footer-widget-bar>.container>section>div.widget>span.line {
    border-color: #f9a71a
}

#footer a,
#footer-widget-bar a {
    color: #f9a71a
}

#footer-widget-bar input {
    background-color: rgba(23, 27, 38, 1) !important;
}

#footer-widget-bar input,
#footer-widget-bar .opening-time {
    border-color: #ffffff !important;
}

@media only screen and (max-width: 479px) {
    #footer {
        height: 112px;
    }

    /*#main>.container{margin-top:80px;}*/
}

@media only screen and (max-width: 1024px) and (min-width: 668px) {
    #header #title {
        padding-right: 100px;
    }

    #header #title>a {
        line-height: 80px;
    }

    /*#main>.container{margin-top:80px;}*/
    #footer {
        height: 56px;
    }
}

/* Primary Menu Styling */
#top-menu .logo>h1>a,
#top-menu .logo2>h1>a {
    color: rgba(0, 0, 0, 1) !important;
}

#header {
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
}

#top-menu,
#top-menu .logo,
body.classic-menu #top-menu>ul,
body.classic-menu #top-menu>ul>li,
body.classic-menu #top-menu>ul>li>a,
body.classic-menu #top-menu>ul>li>a:before,
body.classic-menu #top-menu>ul>li>a:after,
body.classic-menu #top-menu>ul>li>.submenu-button {
    height: 44px;
    line-height: 44px;
    font-family: "Raleway";
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    color: rgba(0, 0, 0, 1);
}

#top-menu,
#top-menu .logo {
    line-height: 80px;
    height: 80px;
    font-family: "Raleway";
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    color: rgba(0, 0, 0, 1);
}

#header,
body.classic-menu #top-menu ul ul li a {
    border-color: rgba(235, 235, 235, 0.3);
}

body.classic-menu #top-menu ul ul li a {
    color: rgba(0, 0, 0, 1);
}

body.classic-menu #top-menu ul li>a:before,
body.classic-menu #top-menu ul li>a:after,
body.classic-menu #top-menu span.submenu-button:before,
body.classic-menu #top-menu span.submenu-button:after,
body.classic-menu #top-menu .menu-button:before,
body.classic-menu #top-menu .menu-button.menu-opened:after {
    background-color: rgba(0, 0, 0, 1) !important;
}

body.classic-menu #top-menu .menu-button:after,
body.classic-menu #top-menu .menu-item-search>a>span,
body.classic-menu #top-menu .menu-item-wpml>a>span {
    border-color: rgba(0, 0, 0, 1) !important;
}

@media screen and (max-width:1280px) {
    body.classic-menu #top-menu #head-mobile {
        line-height: 72px;
        min-height: 72px;
    }

    body.classic-menu #top-menu>ul>li {
        height: auto !important;
    }

    body.classic-menu #top-menu,
    body.classic-menu #top-menu ul li {
        background-color: rgba(255, 255, 255, 1);
    }

    body.classic-menu #header {
        position: relative !important;
    }

    body.classic-menu #top-menu>ul>li.sub-active {
        background-color: rgba(32, 32, 32, 1);
    }
}

body.classic-menu #top-menu ul ul li {
    background-color: rgba(255, 255, 255, 1);
}

body.classic-menu #top-menu ul ul li:hover {
    background-color: rgba(32, 32, 32, 1);
    color: rgba(249, 167, 26, 1);
}

body.classic-menu #top-menu>ul>li:hover>a,
body.classic-menu #top-menu ul ul li:hover>a,
body.classic-menu #top-menu>ul>li.active>a,
body.classic-menu #top-menu ul ul li.current-menu-parent>a,
body.classic-menu #top-menu ul ul li.current-menu-item>a,
body.classic-menu #top-menu ul li.sub-active>a,
body.classic-menu #top-menu ul>li.current-page-ancestor>a {
    color: rgba(249, 167, 26, 1);
}

body.classic-menu #top-menu ul>li.current-menu-parent>a:before,
body.classic-menu #top-menu ul>li.current-menu-parent>a:after,
body.classic-menu #top-menu ul>li.current-menu-item>a:before,
body.classic-menu #top-menu ul>li.current-menu-item>a:after,
body.classic-menu #top-menu ul>li.current-page-ancestor>a:before,
body.classic-menu #top-menu ul>li.current-page-ancestor>a:after,
body.classic-menu #top-menu li:hover>span.submenu-button:before,
body.classic-menu #top-menu li:hover>span.submenu-button:after,
body.classic-menu #top-menu li.sub-active>span.submenu-button:before,
body.classic-menu #top-menu li.sub-active>span.submenu-button:after,
body.classic-menu #top-menu>ul>li:hover>a:before,
body.classic-menu #top-menu>ul>li:hover>a:after,
body.classic-menu #top-menu>ul ul>li:hover>a:before,
body.classic-menu #top-menu>ul ul>li:hover>a:after {
    background-color: rgba(249, 167, 26, 1) !important;
}

/* Top Info Bar */
#info-bar .ozy-selectBox {
    border-color: rgba(255, 255, 255, .5);
}

#info-bar * {
    color: #ffffff;
}

#info-bar div.ozy-selectOptions,
#info-bar .ozy-selectOption {
    background-color: #fff;
}

#info-bar .ozy-selectOption>a {
    color: #000;
}

#info-bar .ozy-selectOption:hover {
    background-color: #000;
}

#info-bar .ozy-selectOption:hover>a {
    color: #fff;
}

div.ozy-selectOptions:before {
    border-bottom-color: #fff;
}

#info-bar {
    background: #0076ff;
    background: -moz-linear-gradient(left, #0076ff 0%, #1fd87c 100%);
    background: -webkit-linear-gradient(left, #0076ff 0%, #1fd87c 100%);
    background: linear-gradient(to right, #0076ff 0%, #1fd87c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0076ff', endColorstr='#1fd87c', GradientType=1);
}

/* Widgets */
.widget li>a {
    color: #000000 !important;
}

.widget li>a:hover {
    color: #f9a71a !important;
}

.ozy-latest-posts>a>span {
    background-color: rgba(249, 167, 26, .8);
    color: rgba(255, 255, 255, 1);
}

/* Page Styling and Typography */
body.classic-menu ul.menu li.current_page_item>a,
.content-color-alternate {
    color: #f9a71a !important;
}

.content-color,
h1.content-color>a,
h2.content-color>a,
h3.content-color>a,
h4.content-color>a,
h5.content-color>a,
h6.content-color>a {
    color: #000000 !important;
}

.ozy-footer-slider,
.content-font,
.ozy-header-slider,
#content,
#footer-widget-bar,
#sidebar,
#footer,
input,
select,
textarea,
.tooltipsy,
.fancybox-inner,
#woocommerce-lightbox-cart {
    font-family: "Raleway";
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 1.5em;
    color: #000000;
}

#content a:not(.ms-btn):not(.vc_btn3),
#sidebar a,
#footer a,
.alternate-text-color,
#footer-widget-bar>.container>.widget-area a:hover,
.fancybox-inner a,
#woocommerce-lightbox-cart a {
    color: #f9a71a;
}

#footer #social-icons a,
#ozy-share-div>a>span,
.a-page-title,
.page-pagination>a,
.fancybox-inner,
#woocommerce-lightbox-cart {
    color: #000000 !important;
}

.page-pagination>.current {
    background-color: rgba(240, 240, 240, 1);
}

.a-page-title:hover {
    border-color: #000000 !important;
}

.nav-box a,
#page-title-wrapper h1,
#page-title-wrapper h3,
#side-nav-bar a,
#side-nav-bar h3,
#content h1,
#footer-widget-bar h1,
#footer-widget-bar h2,
#footer-widget-bar h3,
#footer-widget-bar h4,
#footer-widget-bar h5,
#footer-widget-bar h6,
#sidr h1,
#sidr h2,
#sidr h3,
#sidr h4,
#sidr h5,
#sidr h6,
#sidebar .widget h1,
#footer h1,
#content h2,
#sidebar .widget h2,
#footer h2,
#content h3,
#sidebar .widget h3,
#footer h3,
#content h4,
#sidebar .widget h4,
#footer h4,
#content h5,
#sidebar .widget h5,
#footer h5,
#content h6,
#sidebar .widget h6,
#footer h6,
.heading-font,
#logo,
#tagline,
.ozy-ajax-shoping-cart {
    font-family: "Raleway";
    color: #000000;
}

#page-title-wrapper h1,
#content h1,
#footer-widget-bar h1,
#sidebar h1,
#footer h1,
#sidr h1 {
    font-weight: 900;
    font-style: normal;
    font-size: 40px;
    line-height: 1.5em;
}

#footer-widget-bar .widget-area h4,
#sidebar .widget>h4 {
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 1.5em;
}

#content h2,
#footer-widget-bar h2,
#sidebar h2,
#footer h2,
#sidr h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5em;
    ;
}

#page-title-wrapper h3,
#content h3,
#footer-widget-bar h3,
#sidebar h3,
#footer h3,
#sidr h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.5em;
    ;
}

#content h4,
#footer-widget-bar h4,
#sidebar h4,
#footer h4,
#sidr h4 {
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 1.5em;
    ;
}

#content h5,
#footer-widget-bar h5,
#sidebar h5,
#footer h5,
#sidr h5 {
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5em;
    ;
}

#content h6,
#footer-widget-bar h6,
#sidebar h6,
#footer h6,
#sidr h6 {
    font-weight: 800;
    font-style: normal;
    font-size: 12px;
    line-height: 1.5em;
    ;
}

#footer-widget-bar .widget a:hover,
#sidebar .widget a:hover {
    color: #000000;
}

span.plus-icon>span {
    background-color: #000000;
}

/* Forms */
input:not([type=submit]):not([type=file]),
select,
textarea {
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(35, 35, 35, 1) !important;
}

#request-a-rate input:not([type=submit]):not([type=file]):hover,
#request-a-rate textarea:hover,
#request-a-rate select:hover,
#request-a-rate input:not([type=submit]):not([type=file]):focus,
#request-a-rate textarea:focus,
#request-a-rate select:focus,
#content input:not([type=submit]):not([type=file]):hover,
#content textarea:hover,
#content input:not([type=submit]):not([type=file]):focus,
#content textarea:focus {
    border-color: #f9a71a !important;
}

.rsMinW .rsBullet span {
    background-color: rgb(35, 35, 35);
}

.generic-button,
.woocommerce-page .button,
input[type=button],
input[type=submit],
button[type=submit],
.comment-body .reply>a,
#to-top-button,
.tagcloud>a {
    color: rgb(255, 255, 255) !important;
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(0, 0, 0, 1);
}

.post-submeta>a.button:hover,
.woocommerce-page .button:hover,
input[type=button]:hover,
input[type=submit]:hover,
button[type=submit]:hover,
.comment-body .reply>a:hover,
.tagcloud>a:hover {
    background-color: rgb(249, 167, 26);
    color: rgb(255, 255, 255) !important;
    border: 1px solid rgba(249, 167, 26, 1);
}

/* Blog Comments & Blog Stuff */
.comment-body,
#ozy-share-div>a {
    background-color: rgba(240, 240, 240, 1);
}

.post-submeta>div>div.button {
    background-color: #000000;
}

.post-submeta>div>div.arrow {
    border-color: transparent #000000 transparent transparent;
}

.post-title>span,
.post-submeta>a>span,
.simple-post-format>div>span {
    background-color: #f9a71a !important;
}

.featured-thumbnail-header p,
.featured-thumbnail-header a,
.featured-thumbnail-header h1 {
    color: #ffffff !important;
}

.featured-thumbnail-header>div {
    background-color: rgba(249, 167, 26, .4);
}

.featured-thumbnail>a,
.ozy-related-posts .related-post-item>a {
    background-color: rgba(249, 167, 26, .8);
}

.post-submeta>div>div.button>a>span {
    color: rgba(240, 240, 240, 1);
}

.post-meta p.g {
    color: #000000;
}

#single-blog-tags>a,
.ozy-related-posts .caption,
.ozy-related-posts .caption>h4>a {
    color: rgba(255, 255, 255, 1) !important;
    background-color: #000000;
}

#single-blog-tags>a:hover {
    color: rgba(255, 255, 255, 1);
    background-color: #f9a71a;
}

/*post formats*/
.simple-post-format.post-excerpt-aside>div {
    background-color: rgba(0, 0, 0, .8);
}

.simple-post-format>div {
    background-color: #000000;
}

.simple-post-format>div>span,
.simple-post-format>div>h2,
.simple-post-format>div>p,
.simple-post-format>div>p>a,
.simple-post-format>div>blockquote,
.post-excerpt-audio>div>div {
    color: rgb(255, 255, 255) !important;
}

div.sticky.post-single {
    background-color: rgba(240, 240, 240, 1);
    border-color: rgba(240, 240, 240, 1);
}

/* Shortcodes */
.ozy-postlistwithtitle-feed>a:hover {
    background-color: rgb(249, 167, 26);
}

.ozy-postlistwithtitle-feed>a:hover * {
    color: rgb(255, 255, 255) !important;
}

.ozy-accordion>h6.ui-accordion-header>span,
.ozy-tabs .ozy-nav .ui-tabs-selected a,
.ozy-tabs .ozy-nav .ui-tabs-active a,
.ozy-toggle span.ui-icon {
    background-color: #f9a71a;
}

.ozy-tabs .ozy-nav .ui-tabs-selected a,
.ozy-tabs .ozy-nav .ui-tabs-active a {
    border-color: #f9a71a !important;
}

.ozy-tabs .ozy-nav li a {
    color: #000000 !important;
}

/*owl carousel*/
.ozy-owlcarousel .item.item-extended>a .overlay-one *,
.ozy-owlcarousel .item.item-extended>a .overlay-two * {
    color: #ffffff !important;
}

.ozy-owlcarousel .item.item-extended>a .overlay-one-bg {
    background-color: #f9a71a;
    background-color: rgba(249, 167, 26, 0.5);
}

.ozy-owlcarousel .item.item-extended>a .overlay-two {
    background-color: #f9a71a;
    background-color: rgba(249, 167, 26, 0.85);
}

.owl-theme .owl-controls .owl-page.active span {
    background-color: #f9a71a;
}

.ozy-button.auto,
.wpb_button.wpb_ozy_auto {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
}

.ozy-button.auto:hover,
.wpb_button.wpb_ozy_auto:hover {
    border-color: rgba(249, 167, 26, 1);
    color: rgba(255, 255, 255, 1) !important;
    background-color: rgba(249, 167, 26, 1);
}

.ozy-icon.circle {
    background-color: #000000;
}

.ozy-icon.circle2 {
    color: #000000;
    border-color: #000000;
}

a:hover>.ozy-icon.square,
a:hover>.ozy-icon.circle {
    background-color: transparent !important;
    color: #000000;
}

a:hover>.ozy-icon.circle2 {
    color: #000000;
    border-color: transparent !important;
}

.wpb_content_element .wpb_tabs_nav li.ui-tabs-active {
    background-color: #f9a71a !important;
    border-color: #f9a71a !important;
}

.wpb_content_element .wpb_tabs_nav li,
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header {
    border-color: rgba(240, 240, 240, 1) !important;
}

.wpb_content_element .wpb_tabs_nav li.ui-tabs-active>a {
    color: rgba(255, 255, 255, 1) !important;
}

.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav a,
.wpb_content_element .wpb_accordion_header a {
    color: #000000 !important;
}

.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header {
    font-size: 14px !important;
    line-height: 1.5em !important
}

.pricing-table .pricing-table-column+.pricetable-featured .pricing-price {
    color: #f9a71a !important;
}

.pricing-table li,
.pricing-table .pricing-table-column:first-child,
.pricing-table .pricing-table-column {
    border-color: rgba(240, 240, 240, 1) !important;
}

.pricing-table .pricing-table-column+.pricetable-featured,
.pricing-table .pricing-table-column.pricetable-featured:first-child {
    border: 4px solid #f9a71a !important;
}

.ozy-service-box:hover {
    background-color: #000000 !important;
}

.ozy-service-box:hover>* {
    color: #ffffff !important;
}

/* Shared Border Color */
.post .pagination>a,
.ozy-border-color,
#ozy-share-div.ozy-share-div-blog,
.page-content table td,
#content table tr,
.post-content table td,
.ozy-toggle .ozy-toggle-title,
.ozy-toggle-inner,
.ozy-tabs .ozy-nav li a,
.ozy-accordion>h6.ui-accordion-header,
.ozy-accordion>div.ui-accordion-content,
.chat-row .chat-text,
#sidebar .widget>h4,
#sidebar .widget li,
.ozy-content-divider,
#post-author,
.single-post .post-submeta,
.widget ul ul,
blockquote,
.page-pagination>a,
.page-pagination>span,
.woocommerce-pagination>ul>li>*,
#content select,
body.search article.result,
div.rssSummary,
#sidr input,
#content table tr td,
#content table tr th,
.widget .testimonial-box,
.shared-border-color {
    border-color: rgba(240, 240, 240, 1);
}

#content table tr.featured {
    border: 2px solid #f9a71a !important;
}

/* Specific heading styling */
#page-title-wrapper {
    height: 100px
}

@media only screen and (min-width: 1025px) {
    #main {
        padding-top: 80px
    }
}

.vc_custom_1438670733458 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 70px !important;
    padding-right: 20px !important;
    padding-bottom: 30px !important;
    padding-left: 20px !important;
    background-color: #000000 !important;
}

.vc_custom_1484823886657 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    background-image: url(https://www.alistairgroup.com/wp-content/uploads/2014/11/about-us.jpeg?id=1252) !important;
}

.vc_custom_1484823993927 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 60px !important;
    padding-bottom: 120px !important;
    background-image: url(https://www.alistairgroup.com/wp-content/uploads/2014/11/1920x800-background.jpg?id=1404) !important;
}

.vc_custom_1438688428704 {
    background-color: #d6d6d6 !important;
}

.vc_custom_1484824127741 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 60px !important;
    padding-bottom: 120px !important;
    background-image: url(https://www.alistairgroup.com/wp-content/uploads/2014/11/TESTIMONIAL-background.jpg?id=1399) !important;
}

.vc_custom_1415739337232 {
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    padding-top: 60px !important;
    padding-right: 0px !important;
    padding-bottom: 60px !important;
    padding-left: 0px !important;
}

.vc_custom_1467959083891 {
    padding-right: 20% !important;
    padding-left: 20% !important;
} 